{% extends 'base2.html.twig' %}


{% block body %}
    <center><section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Login</h3>
            </div>
        </div>
        <div class="col-lg-5 col-md-8">
            <div class="form">
                <form action="{{ path('login') }}" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email" tabindex="10" size="25" value="{{  last_username }}" id="username" name="_username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="PassWord" tabindex="20" size="25" value="" id="password" name="_password">
                    </div>
                    <div class="text-center"><button type="submit" id="wp-submit" name="wp-submit">Se connecter</button></div>
                </form>
            </div>
        </div>

        </div>

        </div>
    </section></center><!-- #contact -->

{% endblock %}
