{% extends 'base.html.twig' %}

{% block body %}

    <section id="hero">
        <div class="hero-container">
            <h1>Welcome</h1>

            <a href="{{ path('register') }}" class="btn-get-started">Get Started</a>
        </div>
    </section><!-- #hero -->

    <main id="main">

{% endblock %}